<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Category</th>
      <th>Opinion</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% hobbys.each do |hobby| %>
      <tr>
        <td><%= link_to user_path(hobby.user) do %>
          <%= attachment_image_tag(hobby.hobby_image, :image, :fill, 50, 50, fallback: "no_image2.png") %>
          <% end %>
        </td>
        <td><%= link_to hobby.title, hobby_path(hobby), class: "hobby_#{hobby.id}" %></td>
         <td><%= hobby.rate %></td>
        <td><%= hobby.body %></td>
        <td><%= hobby.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>